[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
pandas = "*"
requests = "*"
pymongo = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
ipython = "*"
ipykernel = "*"
pylint = "*"
